.login-frame {    
    max-width: 400px; 
    margin: 10% auto 0 auto;
}

body {
    background-color: #212121; /* Width: 960px */    
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    background-color: rgb(142, 139, 139);
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    color: white;
    box-shadow: 0px 0px 13px 0px #383736;
}
    
.grid-stack {
    margin: 15px;
}

.contextmenu {
  position: absolute;
  display:none;
}